  /* media */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /*-------- main --------*/

    .main-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        text-transform: none;
        margin-bottom: 36px;
    }

    /*-------- advantages --------*/

    .advantages-list {
        gap: 72px 24px;
    }

    .advantages-list-item {
        width: calc((100% - 24px) / 2)
    }

    .advantages-list-title {
        text-align: left;
    }

    .programs {
        display: none;
    }

    /*-------- team --------*/

    .team-list {
        gap: 64px 24px;
    }

    /*-------- customers --------*/

    .customers-list {
        gap: 72px 24px;
    }
    
    .customers-item {
        width: calc((100% - 2 * 24px) / 3);
    }

}

@media screen and (min-width: 1440px) {

    .container {
        max-width: 1158px;
    }

    /*-------- main --------*/

    .title{
        padding: 188px 0;
    }

    .main-title{
        margin-bottom: 48px;
    }

    /*-------- advantages --------*/

    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-list-container {
        display: flex;
    }

    .advantages-list-item {
        width: calc((100% - 72px) / 4)
    }

    .advantages-list-title {
        font-weight: 500;
        font-size: 20px;
    }

    .advantages-list-description {
        font-size: 16px;
        font-weight: 400;
    }

    .programs {
        display: flex;
    }

    /*-------- team --------*/

    .team {
        padding: 120px 0;
    }

    /*-------- customers --------*/

    .customers {
        padding: 120px 0;
    }

    .customers-list {
        gap: 0 24px;
    }
    
    .customers-item {
        width: calc((100% - 5 * 24px) / 6);
    }
}